<div class="modal fade miClaseModal" id="myModallogininicial" >
    <div class="modal-dialog modal-sm"  align="center">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Iniciar sesión 1.5</h5>
        </div>
        <div class="modal-body">  
                 
                                <div    align="center">
                                         <img src='img/Logo 12-A.jpg' width="200"   height="100"> 
                                </div>   
                    <div class="alert alert-info" style="font-size:11px"  align="justify">
                          <strong><span class="glyphicon glyphicon-heart-empty"></span> ¡ Hola ! Amig@s recuerden que somos una distribuidora multimarca, buscamos brindar a nuestros clientes variedad de productos acorde a su bolsillo y necesidades.</strong>
                      </div> 

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="usua" type="email" class="form-control input-sm" name="usua" value="" placeholder="Introduce tu Rut  sin puntos y guión">        
                        </div>
            
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="contra" type="password" class="form-control  input-sm" name="contra" value="" placeholder="Introduce tu Contraseña">
                        </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning btn-block" type="submit" ng-click="ingresarMenu()">Ingresar</button>  
        </div>
        </div>  

         <button
                 type="button" 
                 class="btn btn-link" 
                 type="submit"  
                 ng-click="ingresarCrearCuenta()"><p><FONT COLOR="white">Crear Cuenta</FONT></p></button>
    </div>

</div>   




<!--
<div  class="container">
    <div    align="center">
             <img src='img/Logo 12-A.jpg' width="330"   height="250"> 
    </div>   
    
</div>      -->
 <!--********************************************************************** -->      
         
<div class="modal fade miClaseModal " id="myModalCrearCuenta" >
    <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-user"></span> Nuevo Usuario</h5>
                  </div>
                <div class="modal-body">
                    <form role="form">
                      <div class="alert alert-success">
                          <strong><span class="glyphicon glyphicon-thumbs-up"></span> Regístrate. Comparte con nosotros, grandes sorpresas y precios para su mascota. </strong>
                      </div>    
                      <div class="form-group">
                        <label for="ejemplo_email_1">Rut</label>
                        <input ng-model="rutLog" 
                                     type="text" 
                                     id="rutLog" 
                                     name="rutLog" 
                                     class="form-control" />
                         <div id="alertRut"  ng-if="customRut"  class="alert alert-danger" role="alert">
                          <strong>Rut!</strong> El rut es incorrecto, favor ingresar sin punto y guion.
                         </div>
                         <div id="alertRutCamp"  ng-if="customRutCamp"  class="alert alert-danger" role="alert">
                           <strong>Rut!</strong> Favor ingresar solicitado.
                         </div>
                      </div>
                      <div class="form-group">
                        <label for="ejemplo_password_1">Nombres</label>
                          <input ng-model="nombreLog" 
                                 type="text" 
                                 class="form-control" 
                                 id="nombreLog" 
                                 name="nombreLog"/>  
                          <div id="alertNomb"  ng-if="customNomb"  class="alert alert-danger" role="alert">
                            <strong>Nombres!</strong> Favor ingresar solicitado.
                          </div>    
                      </div>                
                      <div class="form-group">
                        <label for="ejemplo_archivo_1">Celular</label>
                        <input ng-model="celLog" 
                                 type="number" 
                                 class="form-control" 
                                 id="celLog" 
                                 name="celLog"/>  
                         <div id="alertCel"  ng-if="customCel"  class="alert alert-danger" role="alert">
                          <strong>Celular!</strong> Favor ingresar solicitado.
                        </div>  
                      </div>
                      <div class="form-group">
                        <label for="ejemplo_archivo_1">Contraseña</label>
                         <input ng-model ="passLog" 
                                 type = "password" 
                                 class= "form-control" 
                                 id   = "passLog" 
                                 name = "passLog"/>  
                      <div id="alertPass"  ng-if="customPass"  class="alert alert-danger" role="alert">
                          <strong>Password!</strong> Favor ingresar solicitado.
                      </div>  
                      <div id="alertPassTa"  ng-if="customPassTa"  class="alert alert-danger" role="alert">
                          <strong>Password!</strong>Las contraseñas cortas son fáciles de adivinar. Vuelve a intentarlo utilizando como mínimo 4 caracteres.
                      </div>        
                      </div>
                     <div class="form-group">
                        <label for="ejemplo_archivo_1">Confirmar Contraseña</label>
                        <input ng-model ="passLogConf" 
                                 type = "password" 
                                 class= "form-control" 
                                 id   = "passLogConf" 
                                 name = "passLogConf"/>  
                      <div id="alertConfPass"  ng-if="customConfPass"  class="alert alert-danger" role="alert">
                          <strong>Confirmar Contraseña!</strong> Favor ingresar solicitado.
                      </div>   
                       <div id="alertConfPass"  ng-if="customConfPassErr"  class="alert alert-danger" role="alert">
                          <strong>Confirmar Contraseña!</strong> Las contraseñas no coinciden. ¿Quieres volver a intentarlo?.
                      </div>        
                        
                    </div>    
                        
                    </form>
                    
                    
                    
                    
                    
                    
     
                </div> 

                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning" ng-click="crearCuenta()">Crear Cuenta
                    <span class="glyphicon glyphicon-ok"></span></button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal"  ng-click="salir()">
                    <span class="glyphicon glyphicon-chevron-left"></span>Salir
                    </button>
                </div>
                </div>
        </div>
</div>    
          

<div id="myPrecio">
<div class="panel panel-default"   ng-init="init()" >
    <div class="panel-heading"><span class="glyphicon glyphicon-usd"></span> Listados de Precios</div>


    
<div class="panel-body">     
<div class="alert alert-success">
  <strong><span class="glyphicon glyphicon-heart-empty"></span> ¡ Hola ! Amig@s recuerden que somos una distribuidora multimarca, buscamos brindar a nuestros clientes variedad de productos acorde a su bolsillo y necesidades..</strong>
</div>    
<div class="alert alert-info" role="alert">
  <strong><span class=" glyphicon glyphicon-earphone"></span> Fono Pedido!</strong> Si desea realizar su pedido favor enviar whatsapp o llamar al <a class="btn btn-primary btn-xlg" href="tel:+56991778466" style="padding:3px;background-color:rgba(0,0,238,.5)">
  <span class="glyphicon glyphicon-earphone" style="padding-left:10px; padding-right:10px;"></span>+56991778466
</a>
</div>    
    
<div class="alert alert-success">
  <strong><span class="glyphicon glyphicon-search"></span> Buscar Productos!</strong> Para poder ver nuestros precios favor seleccionar CATEGORIA y MARCA , luego la acción Buscar.
</div>
    
<div>          
       <form action="" name="prodSeleccion"  class="form-inline">
                   <div class="form-group"> 
                      <label class="sr-only" for="tipo">Seleccionar Categoria:</label>    
                              <select  class="form-control" 
                                       ng-model="tipo" 
                                       ng-options="t.nombreCategoria group by t.grupo  for t in tipos"  
                                       ng-change="selTipoPrecio()" >
                                   <option  value="">-- Seleccione Categoria --</option>
                                 </select>    
                    </div>
           
           

                    <div class="form-group"> 
                       <label class="sr-only" for="marca">Seleccionar Marca:</label>    
                            <select class="form-control" 
                                       ng-model="marca" ng-options="m.nombreMarca for m in marcas"
                                            ng-change="selMarca()" >
                                  <option value="">-- Seleccione Marca --</option>
                                  </select>
                    </div>                

        <button class="btn btn-warning" ng-click="buscarProductos()">
        Buscar <span class="glyphicon glyphicon-search"></span>
        </button>
                 

       </form>  
</div>
            
    <table class="table table-striped table table-bordered table-hover " at-table at-paginated at-list="list" at-config="config">       
              
         <thead>
                    <tr>
                      <th  style="text-align: center">#</th>    
                      <th>Producto</th>
                      <th>Precio</th>                        
                      <th>Stock</th>
                    </tr>
         </thead>
          <tbody>
            <tr data-dismiss="modal" ng-repeat="prod in listProd"  data-toggle="modal"  ng-click="selProductos(prod)">  
                <td style="text-align: center">{{ $index + 1 }}</td>                    
                <td>{{ prod.nombreProd }}</td>
                 <td>$ {{ prod.precioPart | number:0 }}</td>
                <td>
                                             <span ng-switch on="interface" >
                                              <img src='img/sinStock.png'
                                                   width="30" 
                                                   height="30"
                                                   ng-show="{{prod.countStock == '0'}}">
                                              <img src='img/coStock.jpg'
                                                   width="30" 
                                                   height="30" 
                                                   ng-show="{{ prod.countStock != '0'}}">   
                                            </span>                                         
             </td> 
            </tr>
          </tbody>
                <div ng-show="loading">
                  <img src='img/cargando.gif'
                      width="100" 
                      height="100"/>        
                 </div> 
        </table>  
         <div  align="center">
               <img src='img/portada.jpg' width="250"   height="400"> 
         </div>  

</div>    
  
    
 

    
  

</div>    
</div>


<div id="graficoAdmin">
    <div class="panel panel-default">
       <canvas id="lineChart" ></canvas>
    </div>
</div>

<div id="graficoAdminRango">
    <div class="panel panel-default">
       <canvas id="lineChartRango" ></canvas>
    </div>
</div>
<div id="graficoAdminGeneral">
    <div class="panel panel-default">
       <canvas id="lineChartGeneral" ></canvas>
    </div>
</div>
