<div class="panel panel-default" ng-init="init()" id="divPedidoListado" ng-show="{{!customInterLogin}}" >
    <div class="panel-heading">
     <h3 class="modal-title"><p style="color:#354d8f; font-weight: bold;">RESUMEN TIENDA</p></h3>
    </div>
    
    
<div class="panel-body">   
    
    
        <div class="container" >

             <div class="form-group col-md-3">
                <label class="control-label" >Desde:</label>
                                   <input type="date" 
                                           placeholder="yyyy-MM-dd" 
                                          class="form-control" 
                                          id="desdeb"
                                          name="desdeb"/>    
             </div>


             <div class="form-group col-md-3">
                <label class="control-label" >Hasta:</label>
                                      <input type="date" 
                                              placeholder="yyyy-MM-dd" 
                                             class="form-control" 
                                             id="hastab" 
                                             name="hastab"/>     
             </div>

            <div class="form-group col-md-3">
                                <label class="control-label" ></label>

                                   
                  <button   class="btn btn-primary form-control" 
                            ng-click="listarCierresCajas()">    
                            <span class="glyphicon glyphicon-search"> Listar</span>
                  </button>    
            </div>




        </div>  
    
    
    <div class="modal fade miClaseModal" id="myImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="myModalLabel">Pedido N° {{idPedido}} - {{nombPedido}}</h5>
      </div>
      <div class="modal-body">
        <img id="modal-image">
      </div> 
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">
          <span class="glyphicon glyphicon-chevron-left"></span>Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
    
    <div class="modal fade" id="myModalProductoImagen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                         <h3 class="modal-title"><p style="color:#354d8f; font-weight: bold;">{{nombProdMod}}</p></h3>   
                  </div>
                <div class="modal-body">

                                
                    
                                
                <div class="row">
                  <div class="col-md-12">
                 
                      
                      
                      
                  <div class="row">

                       <div class="col-md-12">
                             
                               <label class="control-label" >Foto:</label>
                      <div class="custom-file">
                                <input type="file"  
                                       class="custom-file-input" 
                                       id="customFileLang" 
                                       file-model="variableBase64" 
                                       accept="image/png">
                                <label class="custom-file-label" for="customFileLang" data-browse="Elegir">Esta opcion es solo para adjuntar cierre caja en tienda</label>
                            </div>    
                 
                      </div> 
            
                      
                    </div>
                  </div>
                </div>  
                    
         
                </div> 

                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning" ng-click="guadarArchivoInforme()">Guardar
                    <span class="glyphicon glyphicon-floppy-disk"></span></button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">
                    <span class="glyphicon glyphicon-chevron-left"></span>Salir
                    </button>



                </div>
                </div>
        </div>
</div>    
      
        <div class="panel-heading">
     <h3 class="modal-title"><p style="color:#354d8f; font-weight: bold;">CIERRES DE CAJAS</p></h3>
    </div>
        
       <table class="table table-striped table table-bordered table-hover"
              style="font-size:15px" 
              at-table at-paginated at-list="list" 
              at-config="config">       
              
         <thead>
                    <tr>
                      <th  style="text-align: center">#</th>  
                      <th  style="text-align: center">Adjunto</th>             
                      <th  style="text-align: center">Id Caja</th>
                      <th  style="text-align: center">Fecha Caja Inicio</th>
                      <th  style="text-align: center">Fecha Caja Fin</th>
                      <th  style="text-align: center">Usuario</th>                        
                      <th  style="text-align: center"></th> 
                      <th  style="text-align: center">Observacion</th>                        
    
                      <th  style="text-align: center"></th>                                             
                    </tr>
         </thead>
          <tbody>
            <tr  ng-repeat="cierres in listadoCierres">     
                <td style="text-align: center">{{ $index + 1 }}</td>  
                     <td><img  ng-src="{{cierres.foto}}"
                               onerror="this.src='https://intranet.aranibar.cl/barrosaranas/Table/img/sinImagen.png';"
                                onClick="openImageModal(this)" 
                                style="cursor: pointer"                                
                              class='eye'
                              width="50"   
                              height="50"></td>                                       
  
                <td style="text-align: center">{{ cierres.id_caja }}</td>                      
                <td style="text-align: center">{{ cierres.fecha_caja_inicio | date: 'dd-MM-yyyy'}}</td>
                <td style="text-align: center">{{ cierres.fecha_caja_fin | date: 'dd-MM-yyyy'}}</td>
                <td style="text-align: center">{{ cierres.nombre }}</td>                    
                <td style="text-align: center">
                
                                           <button 
                                                     class="btn btn-xs" 
                                                     id="myFormproductoImagen"
                                                     data-toggle="modal"  
                                                     data-target="#myModalProductoImagen"
                                                     ng-click="preVerSolicitudDetalle(cierres)">  
                                              <span class="glyphicon glyphicon-camera"></span>
                                           </button> 
                
                </td>   
                <td style="text-align: center">{{ cierres.observacion }}</td>                    
                <td style="text-align: center">
                  <button ng-if="cierres.centralizado == 0 && bloquearTipoDoc == false" type="submit" class="btn btn-success" ng-click="syncCierreCaja(cierres.id_caja)"><span class="glyphicon glyphicon-cloud-upload"></span> CENTRALIZAR</button>
                    
                    
                  <span ng-if="cierres.centralizado">CENTRALIZADO</span>
                    
                  <button ng-if="bloquearTipoDoc == true" type="submit" class="btn btn-success" ng-click="listarVentasGeneradasTiendas(cierres)"><span class="glyphicon glyphicon glyphicon-list-alt"></span> RESUMEN VENTAS</button>
                    
                </td>
            </tr>
          </tbody>
        </table>  
         <h3 class="modal-title" ng-hide="listadoCierres.length !=0"><p style="color:#F52C52; font-weight: bold;">Cargando...</p></h3>


<div ng-if="bloquearTipoDoc == true">

      <div class="panel-heading">
     <h3 class="modal-title"><p style="color:#354d8f; font-weight: bold;">RESUMEN DE VENTAS TIENDA {{tiendaBase }}</p><p style="color:#F52C52; font-weight: bold;">SUMA TOTAL: ${{getValorSumaMonto() | number:0}}</p></h3>
    </div>  

   
    

          <!-- <table class="table table-striped table table-bordered table-hover"
              style="font-size:15px" 
              at-table at-paginated at-list="list" 
              at-config="config">       
              
         <thead>
                    <tr>
                      <th  style="text-align: center">Fotos</th>             
                      <th  style="text-align: center">Id Prod</th>
                      <th  style="text-align: center">Nombre Producto</th>
                      <th  style="text-align: center">Cantidad</th>                                          
                    </tr>
         </thead>
          <tbody>
            <tr  ng-repeat="prod in listadoProductoVenta">     
              
                     <td style="text-align: center"><img  ng-src="{{prod.foto}}"
                               onerror="this.src='https://intranet.aranibar.cl/barrosaranas/Table/img/sinImagen.png';"
                                onClick="openImageModal(this)" 
                                style="cursor: pointer"                                
                              class='eye'
                              width="60"   
                              height="60"></td>                                       
  
                <td style="text-align: center">{{ prod.id_prod }}</td>                      
                <td style="text-align: center">{{ prod.nombreProd  }}</td>
                <td style="text-align: center">{{ prod.cantidad }}</td>
                

            </tr>
          </tbody>
        </table> --> 
           <table class="table table-striped table table-bordered table-hover"
              style="font-size:15px" 
              at-table at-paginated at-list="list" 
              at-config="config">       
              
         <thead>
                    <tr>
                      <th  style="text-align: center">#</th>
                      <th  style="text-align: center">N°VENTA</th>
                                              <th class="text-center" COLSPAN="">
                                          <img src='img/logoSII.jpg' 
                                           title="SII"
                                           width="40" 
                                           height="20">
                                        </th> 
                      <th  style="text-align: center">Hora</th>
                      <th  style="text-align: center">Fecha</th>
                      <th  style="text-align: center">Vendedor</th>
                      <th  style="text-align: center">Pago con</th>                        
                      <th  style="text-align: center">Valor</th>
                      <th  style="text-align: center"></th>                                                
                    </tr>
         </thead>
          <tbody>
            <tr  ng-repeat="prod in listadoVentas">     
                <td style="text-align: center">{{ $index + 1 }}</td>    
               <!-- <td>{{ prod.id }}</td>  -->  
                
                <td style="text-align: center">{{ prod.id_pedido }}</td>    
                
               <td style="text-align: center">{{ prod.folio }}</td> 
                <td style="text-align: center">{{ prod.hora }}</td>                
                <td style="text-align: center">{{ prod.fecha | date: 'dd-MM-yyyy'}}</td>
                <td style="text-align: center">{{ prod.nombUsua + " "  + prod.apellUsua }}</td> 
                <td class="text-center" ng-class="{'coral' : (ped.entregaPed == '2')}">
                                            <span ng-switch on="interface">                                                      
                                                  <img src='img/transBank.png'  
                                                   width="40" 
                                                   title="Debito"
                                                   height="35" 
                                                   ng-show="{{ prod.estado_cobranza == '5'  && (prod.anulada != 'S')}} ">
                                                
                                              <img src='img/efectivoPlata.png'  
                                                   width="40" 
                                                  title="Efectivo"
                                                   height="35"
                                                   ng-show="{{(prod.estado_cobranza == '1') && (prod.anulada != 'S')}} ">
                                                
                                               <img src='img/transferencia.png'  
                                                   width="40" 
                                                   title="Transferencia"
                                                   height="35" 
                                                   ng-show="{{ prod.estado_cobranza == '6'  && (prod.anulada != 'S')}} ">    
                                                
                                            </span>
              </td>
                                      
             <td style="text-align: center">$ {{ prod.total | number:0 }}</td>                   
                <td>   
                   <span ng-switch on="interface">
                     <button          class="btn btn-primary" 
                                      data-toggle="modal"  
                                      data-target="#myModaDetalle"  
                                      ng-click="verDetalle(prod)">    
                             <span class="glyphicon glyphicon-zoom-in "></span>
                     </button>   
                        
                                     
                      <p style="color:#b72745; font-weight: bold;"
                          ng-show="{{prod.anulada == 'S' }}">VENTA ANULADA</p>     
                       <button 
                        ng-show="{{prod.anulada == 'N' }} "          
                        ng-click = "anularPedido2(prod)"
                        class="btn btn-danger">Anular
                         <span class="glyphicon glyphicon-erase"></span>
                       </button> 
                         <button                             class="btn btn-success" 
                                                     data-toggle="modal"  
                                                     data-target="#myModalCobro"
                                                     ng-click="cargarPedidoCobro(prod)">                                                     
                                              <span class="glyphicon glyphicon-usd"></span>
                                             </button> 
                                      
                    </span>
                </td>
            </tr>
          </tbody>
        </table>  
    
    
    
     <h3 class="modal-title" ng-hide="listadoVentas.length !=0"><p style="color:#F52C52; font-weight: bold;">Cargando...</p></h3>
    
</div>
    
    
          

    
</div>    
  
 <div class="modal fade miClaseModal"  id="myModalCobro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="myModalLabel">Pedido N° {{idPedidoTienda}} - Folio N° {{folio}}</h5>
                  </div>
                <div class="modal-body">

    
                <div class="row">
                  <div class="col-md-12">
                  <div class="row">
                      <div class="col-md-6">
                          <label class="control-label" for="inputSuccess1">Forma de Pago:</label>            
                          <select  name="mySelectTipoCobros" 
                                 class="form-control"
                                  id="mySelectTipoCobros"
                                  ng-options="option.name for option in cobros.availableOptions track by option.id"
                                  ng-model="cobros.selectedOption">
                          </select>  
                    
                      </div>

                    </div>
                          
                  </div>
                </div>     
                           
                
                                 
                    

                </div> 

                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning" ng-click="modificarPedidoCobro()">Guardar
                    <span class="glyphicon glyphicon-floppy-disk"></span></button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">
                    <span class="glyphicon glyphicon-chevron-left"></span>Salir
                    </button>



                </div>
                </div>
        </div>
</div> 
     
   <div class="modal fade miClaseModal" id="myModalObserPedidoAnular" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Pedido N° {{idPedido}}</h5>
                  </div>
                <div class="modal-body">    
                     <form role="form">
                              <div class="form-group">
                                        <label for="ejemplo_password_1">Motivo de la Anulacion:</label>
                                           <textarea class="form-control" 
                                                      rows="3" 
                                                   ng-model="observacionVendAnular" 
                                                   id="observacionVendAnular" 
                                                   name="observacionVendAnular">
                                         </textarea>               
                               </div>  
                        </form>                 
                </div> 
                <div class="modal-footer">
                    <button type="submit" 
                            class="btn btn-primary" 
                            ng-click="confirmarAnularPedido()">Aceptar
                    <span class="glyphicon glyphicon-floppy-disk"></span></button>
                    <button type="button" 
                            class="btn btn-dark" 
                            data-dismiss="modal">
                    <span class="glyphicon glyphicon-chevron-left"></span>Salir
                    </button>
                </div>
                </div>
        </div>
</div>    
       
<div class="modal fade miClaseModal" id="myModaDetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="myModalLabel">Ventas N° {{idVenta}}</h5>
      </div>
<div class="modal-body">

<table class="table table-striped table table-bordered" 
       style="font-size:14px"  
       at-table at-paginated at-list="list" at-config="config">     
         <thead>
                    <tr>
                      <th style="text-align: center">FOTO</th>
                      <th  style="text-align: center">#</th>                      
                      <th style="text-align: center">ID</th>
                      <th style="text-align: center">NOMBRE</th>
                      <th style="text-align: center">VALOR</th>  
                      <th style="text-align: center">CANT</th>       
                      <th style="text-align: center">TOTAL</th>                     
                    </tr>
         </thead>
          <tbody>               
            <tr data-dismiss="modal" ng-repeat="prodDet in detalleVentas"> 
                <td style="text-align: center"> 
                    <img  ng-src="{{prodDet.foto}}"
                               onerror="this.src='https://intranet.aranibar.cl/barrosaranas/Table/img/sinImagen.png';"
                              class='eye'
                              width="100"   
                              height="100"></td>
                <td style="text-align: center">{{ $index + 1 }}</td>    
                <td>{{ prodDet.id_prod }}</td>    
                <td>{{ prodDet.nombreProd }}</td>
                <td>$ {{ prodDet.precio_vendido | number:0  }}</td> 
                <td>{{ prodDet.cantidad }}</td> 
                <td>$ {{ prodDet.total | number:0  }}</td>  

            </tr>
          </tbody>

</table>      
 

</div>
        
      <div class="modal-footer">
                        
          
        <button type="button" 
                class="btn btn-warning" 
                data-dismiss="modal">
        <span class="glyphicon glyphicon-chevron-left"></span>Salir
        </button>
      </div>
    </div>
  </div>
</div>
        
    
    

</div>  
<script type="application/javascript">
 
 function openImageModal(elem){
     
        $("#modal-image").attr("src", $(elem).attr("src"));
        $("#myImageModal").modal('show');
    } 
       
</script>