<div class="panel panel-default" ng-init="init()" id="divMarcas">
    <div class="panel-heading">
     <h3 class="modal-title"><p style="color:#354d8f; font-weight: bold;">MARCAS</p></h3>
    </div>
    
    
<div class="panel-body">   
    
        
  <table class="table table-striped table table-bordered table-hover " 
  style="font-size:12px"  
  at-table at-paginated 
  at-list="list"              
  at-config="config">              
<thead>
           <tr>   
             <th class="text-center" width="5%">Foto</th>
             <th class="text-center" width="20%">Marca</th>
             <th class="text-center" width="5%">Categoria</th>    
             <th class="text-center" width="25%" >Activo</th>
             <th class="text-center" width="9%">Acciones</th>    

           </tr>
</thead>
 <tbody>
   <tr data-dismiss="modal" ng-repeat="(productIndex, prodDet) in listadoMarcas | filter: { nombreProd: nombreProdFilt }" > 
     
    <td style="text-align: center">                             
      <img  ng-src="{{prodDet.foto}}"
       onerror="this.src='https://aranibar.cl/barrosaranas/Table/img/sinImagen.png';"
        onClick="openImageModal(this)" 
        style="cursor: pointer"                                
      class='eye'
      width="100"   
      height="100">

</td>


       <td class="text-center" ng-show="prodDet.estado_mod == 0">{{ prodDet.nombreMarca}}</td>
       <td class="text-center"  ng-show="prodDet.estado_mod == 1">
        <textarea  ng-model="prodDet.nombreMarca"                                  
                   class="form-control" 
                   rows="1" 
                   size="10">
        </textarea>
      </td>
       <td class="text-center" ng-show="prodDet.estado_mod == 0">{{ prodDet.nombreCategoria}}</td>
       <td class="text-center" ng-show="prodDet.estado_mod == 1">     
      <!--  <select  class="form-control" 
                    ng-model="tipos" 
                    ng-options="t.nombreCategoria group by t.grupo  for t in listCategoria"  
                    ng-change="selTipo(tipos, prodDet)" >
                <option  value="">-- Seleccione Tipo --</option>
            </select>  

            <select class="form-control" >
              <option ng-repeat="item in listCategoria" 
                      value="{{item.nombreCategoria}}" 
                      ng-selected="{{item.codCategoria==3}}"
                      title="{{item.nombreCategoria}}">
                   {{item.nombreCategoria}}
              </option>
          </select>  ddd-->

          <select    class="form-control"
                     ng-model="tipos" 
                     ng-change="selTipo(tipos, prodDet)">
            <option ng-repeat="item in listCategoria"                  
                  ng-selected="prodDet.codCategoria == item.codCategoria" 
                  value="{{item.codCategoria}},{{item.nombreCategoria}}">
               {{item.nombreCategoria}}
            </option>
         </select>
          

   

       
      </td>
       

      <td class="text-center"  ng-show="prodDet.estado_mod == 0">

        <h4 ng-if="prodDet.activo == 1 " class="modal-title"><p style="color:#354d8f; font-weight: bold;">Activado</p></h4>
        <h4 ng-if="prodDet.activo == 0 " class="modal-title"><p style="color:#8f0404; font-weight: bold;">Desactivado</p></h4>

      </td>

      
       <td class="text-center" ng-show="prodDet.estado_mod == 1">
        <div class="btn-group" data-toggle="buttons">    
                    <label class="btn btn-success btn-sm" 
                      ng-class="{active: prodDet.activo == '1'}" 
                      ng-click="confirmarActiveProd(prodDet, '1')">
                    <input type="radio" 
                        ng-model="prodDet.activo"  
                        value="1"> ON
                    </label>
                    <label class="btn btn-success btn-sm" 
                      ng-class="{active: prodDet.activo == '0'}" 
                      ng-click="confirmarActiveProd(prodDet, '0')">
                    <input type="radio" 
                        ng-model="prodDet.activo"  
                        value="0"> OFF
                    </label>
        </div>
   </td>


       


          <td class="text-center">
              
                                <button  class="btn btn-primary" 
                                         ng-show="prodDet.estado_mod == 0"
                                         ng-click="confirmarEstadoModificar(prodDet, 1)">    
                                <span class="glyphicon glyphicon-pencil"></span>
                                </button>
              
              
                               <button  class="btn btn-info" 
                                       ng-show="prodDet.estado_mod == 1"
                                         ng-click="updateEscalaProd(prodDet)">    
                                <span class="glyphicon glyphicon-floppy-saved"></span>
                                </button>
                 
                                 
                                <button  class="btn btn-danger" 
                                         ng-click="confirmarBorrarEscala(prodDet)">    
                                <span class="glyphicon glyphicon-remove-sign"></span>
                                </button>
                                 
                                 
                                 
                             </td>
                         
   
   </tr>
 </tbody>
</table> 
<div ng-hide="detPedido.length !=0">Cargando...</div> 
    
    

</div>  


</div>
<script type="application/javascript">
 
 function openImageModal(elem){
     
        $("#modal-image").attr("src", $(elem).attr("src"));
        $("#myImageModal").modal('show');
    } 
       
</script>