<div class="panel panel-default" ng-init="init()" ng-show="{{!customInterLogin}}">
    <div class="panel-heading">Informe Vendedor</div>    
    
<div class="panel-body">   
  <div>
     <div class="form-group col-md-3">
        <label class="control-label" >Responsable:</label>
                                <select  name="mySelectVendedores" 
                                  class="form-control"
                                  id="mySelectVendedores"
                                  ng-options="t.name +' '+ t.apellido for t in vendedores.availableOptions track by t.id"
                                  ng-model="vendedores.selectedOption">
                                <option  value="">-- Seleccione Vendedor --</option>
                               </select>   
     </div>

    <div class="form-group col-md-3">
        <label class="control-label" >Desde:</label>
             <input type="date" class="form-control" placeholder="yyyy-MM-dd" id="desdeb" name="desdeb" />

    </div>

    <div class="form-group col-md-3">
        <label class="control-label" >Hasta:</label>
             <input type="date" class="form-control" placeholder="yyyy-MM-dd" id="hastab" name="hastab" />

    </div>
      
    <div class="form-group col-md-4">
         <button type="submit" class="btn btn-warning" ng-click="buscarInforme()">
          <span class="glyphicon glyphicon-search"></span> Buscar
         </button> 
    </div>


</div>    

    
  <div><hr/>   
  <div class="table-responsive">        
    <table class="table table-striped table table-bordered table-hover display" 
           at-table at-paginated at-list="list" 
           at-list="list" 
           style="font-size:80%;"
           show-filter="true" 
           cellspacing="0" 
           at-config="config">       
              
         <thead class="thead-inverse">
                 <tr>
                                      <th class="text-center" COLSPAN="1">#</th>            
                                      <th class="text-center" COLSPAN="2">Fecha</th>                                             
                                      <th class="text-center" COLSPAN="5">Clientes</th>
                                      <th class="text-center" COLSPAN="4">Nuevos Clientes</th>
                   </tr>
             
                    <tr>
                      <th  style="text-align: center">#</th>    
                      <th  style="text-align: center">Fecha</th>
                      <th  style="text-align: center">Día</th>                        
                      <th  style="text-align: center">Visitas a Cliente</th>
                      <th  style="text-align: center">Cant. Pedidos Veterinaria</th>                        
                      <th  style="text-align: center">Cant. Pedidos Mascotero</th>
                      <th  style="text-align: center">Cant. Pedidos Almacen</th>
                      <th  style="text-align: center">Cant. Pedidos Particular</th>    
                      <th  style="text-align: center">Visitas Nuevos Clientes</th>
                      <th  style="text-align: center">Cant. Pedidos Veterinaria</th>
                      <th  style="text-align: center">Cant. Pedidos Mascotero</th>
                      <th  style="text-align: center">Cant. Pedidos Almacen</th>
                    </tr>
         </thead>
          <tbody>
            <tr ng-repeat="prod in arrayInforme">  
                <td  style="text-align: center">{{ $index + 1 }}</td>                    
                <td  style="text-align: center">{{ prod.fecha | date: 'dd-MM-yyyy'}}</td>    
                <td  style="text-align: center">{{prod.dia_semana}}</td>
                <td  style="text-align: center; font-size:120%;"><strong>{{ prod.cant_visitas_clie }}</strong></td>  
                <td  style="text-align: center; font-size:120%;"><strong>{{ prod.cant_veterinaria }}</strong></td>                  
                <td  style="text-align: center; font-size:120%;"><strong>{{ prod.cant_mascotero }}</strong></td>    
                <td  style="text-align: center; font-size:120%;"><strong>{{ prod.cant_almacen }}</strong></td>    
                <td  style="text-align: center; font-size:120%;"><strong>{{ prod.cant_particular }}</strong></td>    
                <td  style="text-align: center; font-size:120%;"><strong>{{ prod.cant_visita_nueva }}</strong></td>    
                <td  style="text-align: center; font-size:120%;"><strong>{{ prod.cant_ped_nuevo_v }}</strong></td>
                <td  style="text-align: center; font-size:120%;"><strong>{{ prod.cant_ped_nuevo_m }}</strong></td>
                <td  style="text-align: center; font-size:120%;"><strong>{{ prod.cant_ped_nuevo_a }}</strong></td>
                
                <td>   
                                         
                                             <button 
                                                     ng-click="cargarDatos(prod)"   
                                                     class="btn" 
                                                     data-toggle="modal"  
                                                     data-target="#myModalModProd">
                                             <span class="glyphicon glyphicon-eye-open"></span>
                                             </button>   
                                            
                                    
                                              
                                          </td>
            </tr>
          </tbody>
   
        </table>
       <button type="submit" 
                            class="btn btn-warning" 
                            ng-click="saveDatosInforme()">Guardar
                    <span class="glyphicon glyphicon-floppy-disk"></span></button>
    </div> 
</div>  
    
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
          <div id="graficoAdminRango">
                <div class="panel panel-default">
                   <canvas id="lineChartRango" ></canvas>
                </div>
            </div>


      </div>
      <div class="col-md-6">
               <div id="graficoAdminPorUsuario">
            <div class="panel panel-default">
               <canvas id="lineChart" ></canvas>
            </div>
        </div>  
        </div>
    </div>
  </div>
</div>
    

<div>
	 <button type="submit" class="btn btn-warning" ng-click="mostrarGraficosNivelGeneral()">
	  <span class="glyphicon glyphicon-search"></span> Ver graficos a nivel general
	 </button> 
</div>	
 <div id="graficoAdmin">
    <div class="panel panel-default">
       <canvas id="lineChartGeneralTodos" ></canvas>
    </div>
</div>

<div id="graficoAdminGeneral">
    <div class="panel panel-default">
       <canvas id="lineChartGeneral" ></canvas>
    </div>
</div>   

<div class="modal fade" id="myModalModProd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel"> {{fechaSel}}</h5>
                  </div>
                <div class="modal-body">    
                     <form role="form">                     
                                 <div class="form-group">
                                    <label for="ejemplo_email_1">Visitas a Clientes</label>
                                    <input ng-model="cantClie" 
                                                 type="number"
                                                 placeholder="0"
                                                 id="cantClie" 
                                                 name="cantClie" 
                                                 class="form-control"/>                          
                                  </div>
                         
                                 <div class="form-group">
                                    <label for="ejemplo_email_1">Visitas Nuevos Clientes</label>
                                    <input ng-model="cantNuevo" 
                                                 type="number" 
                                                 id="cantNuevo" 
                                                 placeholder="0"
                                                 name="cantNuevo" 
                                                 class="form-control" />                          
                                 </div>
                             
                        </form>                 
                </div> 
                <div class="modal-footer">
                    <button type="submit" 
                            class="btn btn-warning" 
                            ng-click="updateDatos()">Guardar
                    <span class="glyphicon glyphicon-floppy-disk"></span></button>
                    <button type="button" 
                            class="btn btn-warning" 
                            data-dismiss="modal">
                    <span class="glyphicon glyphicon-chevron-left"></span>Salir
                    </button>
                </div>
                </div>
        </div>
</div>    
    

</div>     
</div> 